.sidebar-container {
  width: 230px;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--initial-color);
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out; 
}

.sidebar-container.minimized {
  width: 60px;
}

.sidebar-container .minimize-bar {
  margin: 10px 20px;
  font-size: 30px;
  cursor: pointer;
}

.sidebar-container .links li {
  margin-top: 10px;
}

.sidebar-container .links li a {
  text-decoration: none;
  color: var(--initial-color);
  margin-left: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  white-space: nowrap; 
}

.sidebar-container.minimized .links li a {
  justify-content: center; 
}

.sidebar-container .links li a .movie {
  margin-right: 15px;
  font-size: 25px;
}

