.sidebar-container {
  position: fixed;
  top: 80px;
  z-index: 1;
  width: 180px;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--initial-color);
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px,
    rgba(255, 255, 255, 0.12) 0px -12px 30px,
    rgba(255, 255, 255, 0.12) 0px 4px 6px,
    rgba(255, 255, 255, 0.17) 0px 12px 13px,
    rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

.sidebar-container.minimized {
  width: 60px;
  transition: all 400ms ease-in-out;
}

.sidebar-container.minimized:hover {
  width: 64px;
}

.sidebar-container .minimize-bar {
  margin: 10px 20px;
  font-size: 30px;
  cursor: pointer;
}

.sidebar-container .minimize-bar .close-icon {
  transform: rotate(180deg);
  transition: transform 400ms ease-in-out;
}

.sidebar-container .minimize-bar:hover .close-icon {
  transform: rotate(0deg);
}

.sidebar-container .minimize-bar:hover .close-icon,
.open-icon:hover {
  color: var(--select-color);
}

.sidebar-container .links li {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.sidebar-container .links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--select-color);
  display: none;
  /* Hidden since hover is removed */
  z-index: -1;
}

.sidebar-container .links li a {
  text-decoration: none;
  color: var(--initial-color);
  margin-left: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.2s;
  position: relative;
  transition: color 400ms ease-in-out;
}

.sidebar-container .links li a:hover {
  color: var(--select-color);
}

.sidebar-container.minimized .links li a {
  justify-content: center;
  opacity: 0;
}

.sidebar-container:not(.minimized) .links li a {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.2s;
}

.sidebar-container .links li a .movie {
  margin-right: 15px;
  font-size: 25px;
}