.movielist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding-top: 20px;
  margin: 80px 20px 0 70px;
}

.movie-card {
  position: relative;
  display: flex;
  max-width: 400px;
  height: 270px;
  background-color: var(--movie-card);
  color: var(--initial-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  transition: transform 0.3s;
  margin: auto;
}

.movie-card:hover {
  transform: scale(1.01);
}

.movie-image {
  width: 150px;
  padding: 2px;
  border-radius: 8px;
  object-position: center;
}

.movie-details {
  padding: 15px;
}

.movie-name {
  font-size: 1.5em;
}

.movie-description {
  font-size: 1em;
  margin: 10px 0;
}

.movie-additional {
  margin: 10px 0;
  color: #b7b1b1;
  font-size: 0.9em;
  display: flex;
  flex-wrap: wrap;
}

.movie-additional .movie-special {
  border: 1px solid #fff;
  padding: 7px;
  border-radius: 30px;
  margin: 3px;
}

.movie-rating {
  font-size: 1.2em;
  color: #f39c12; /* Star color */
  margin: 10px 0;
}

.cart-icons {
  display: flex;
  font-size: 20px;
  position: absolute; /* Position the icons absolutely within the movie-card */
  bottom: 10px; /* Distance from the bottom of the container */
  right: 10px; /* Distance from the right edge of the container */
}

.cart-icon {
  margin-left: 10px;
  cursor: pointer;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .movie-card {
    width: 100%;
    height: auto;
  }
}
