/* NewMovie.css */

/* Base styles */
.newmovie-container {
  height: auto; /* Allow height to adjust based on content */
  background-color: var(--background-color);
  border-radius: 8px;
  margin: 50px 10px 50px 70px; /* Center horizontally */
  width: 90%; /* Default width for small screens */
  max-width: 400px; /* Max width for small screens */
  color: var(--initial-color);
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.newmovie-container .upload-image {
  display: flex;
  flex-direction: column;
}

.newmovie-container .upload-image input {
  margin-top: 10px;
  border: 1px solid var(--select-color);
  border-radius: 8px;
  width: 100%; 
}

.newmovie-container .upload-image input[type="file"]::file-selector-button {
  background-color: var(--select-color);
  color: var(--initial-color);
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 15px;
  text-transform: capitalize;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .newmovie-container {
    width: 90%; /* Width for medium screens */
    max-width: 600px; /* Max width for larger screens */
  }
  .newmovie-container .upload-image input{
    width: 90%;
  }
}
